CompileFlags:
  Add: [-xc++, -std=c++20]
Diagnostics:
  ClangTidy:
    Add: [performance*, modernize*, readability*]
    Remove: [modernize-use-trailing-return-type, readability-magic-numbers,readability-uppercase-literal-suffix, readability-math-missing-parentheses,readability-isolate-declaration, readability-avoid-nested-conditional-operator, modernize-use-nodiscard]
